<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>supportedModels</key>
	<dict>
		<key>MacBook5,1</key>
		<dict/>
		<key>MacBook5,2</key>
		<dict/>
		<key>MacBook6,1</key>
		<dict>
			<key>needsAPFSBootROMUpdate</key>
			<true/>
		</dict>
		<key>MacBook7,1</key>
		<dict>
			<key>needsAPFSBootROMUpdate</key>
			<true/>
		</dict>
		<key>MacBookPro4,1</key>
		<dict/>
		<key>MacBookPro5,1</key>
		<dict/>
		<key>MacBookPro5,2</key>
		<dict/>
		<key>MacBookPro5,3</key>
		<dict/>
		<key>MacBookPro5,4</key>
		<dict/>
		<key>MacBookPro5,5</key>
		<dict/>
		<key>MacBookPro6,1</key>
		<dict>
			<key>needsAPFSBootROMUpdate</key>
			<true/>
		</dict>
		<key>MacBookPro6,2</key>
		<dict>
			<key>needsAPFSBootROMUpdate</key>
			<true/>
		</dict>
		<key>MacBookPro7,1</key>
		<dict>
			<key>needsAPFSBootROMUpdate</key>
			<true/>
		</dict>
		<key>MacBookPro8,1</key>
		<dict>
			<key>needsAPFSBootROMUpdate</key>
			<true/>
		</dict>
		<key>MacBookPro8,2</key>
		<dict>
			<key>needsAPFSBootROMUpdate</key>
			<true/>
		</dict>
		<key>MacBookPro8,3</key>
		<dict>
			<key>needsAPFSBootROMUpdate</key>
			<true/>
		</dict>
		<key>MacBookAir2,1</key>
		<dict/>
		<key>MacBookAir3,1</key>
		<dict>
			<key>needsAPFSBootROMUpdate</key>
			<true/>
		</dict>
		<key>MacBookAir3,2</key>
		<dict>
			<key>needsAPFSBootROMUpdate</key>
			<true/>
		</dict>
		<key>MacBookAir4,1</key>
		<dict>
			<key>needsAPFSBootROMUpdate</key>
			<true/>
		</dict>
		<key>MacBookAir4,2</key>
		<dict>
			<key>needsAPFSBootROMUpdate</key>
			<true/>
		</dict>
		<key>MacPro3,1</key>
		<dict/>
		<key>MacPro4,1</key>
		<dict/>
		<key>MacPro5,1</key>
		<dict/>
		<key>iMac7,1</key>
		<dict/>
		<key>iMac8,1</key>
		<dict/>
		<key>iMac9,1</key>
		<dict/>
		<key>iMac10,1</key>
		<dict>
			<key>needsAPFSBootROMUpdate</key>
			<true/>
		</dict>
		<key>iMac10,2</key>
		<dict>
			<key>needsAPFSBootROMUpdate</key>
			<true/>
		</dict>
		<key>iMac11,1</key>
		<dict>
			<key>needsAPFSBootROMUpdate</key>
			<true/>
		</dict>
		<key>iMac11,2</key>
		<dict>
			<key>needsAPFSBootROMUpdate</key>
			<true/>
		</dict>
		<key>iMac11,3</key>
		<dict>
			<key>needsAPFSBootROMUpdate</key>
			<true/>
		</dict>
		<key>iMac12,1</key>
		<dict>
			<key>needsAPFSBootROMUpdate</key>
			<true/>
		</dict>
		<key>iMac12,2</key>
		<dict>
			<key>needsAPFSBootROMUpdate</key>
			<true/>
		</dict>
		<key>Macmini3,1</key>
		<dict/>
		<key>Macmini4,1</key>
		<dict>
			<key>needsAPFSBootROMUpdate</key>
			<true/>
		</dict>
		<key>Macmini5,1</key>
		<dict>
			<key>needsAPFSBootROMUpdate</key>
			<true/>
		</dict>
		<key>Macmini5,2</key>
		<dict>
			<key>needsAPFSBootROMUpdate</key>
			<true/>
		</dict>
		<key>Macmini5,3</key>
		<dict>
			<key>needsAPFSBootROMUpdate</key>
			<true/>
		</dict>
		<key>Xserve2,1</key>
		<dict/>
		<key>Xserve3,1</key>
		<dict/>
	</dict>
	<key>unsupportedModels</key>
	<dict>
		<key>MacBook1,1</key>
		<dict/>
		<key>MacBook2,1</key>
		<dict/>
		<key>MacBook3,1</key>
		<dict/>
		<key>MacBook4,1</key>
		<dict/>
		<key>MacBookPro1,1</key>
		<dict/>
		<key>MacBookPro2,1</key>
		<dict/>
		<key>MacBookPro2,2</key>
		<dict/>
		<key>MacBookPro3,1</key>
		<dict/>
		<key>MacBookAir1,1</key>
		<dict/>
		<key>Macmini1,1</key>
		<dict/>
		<key>Macmini2,1</key>
		<dict/>
		<key>iMac4,1</key>
		<dict/>
		<key>iMac4,2</key>
		<dict/>
		<key>iMac5,1</key>
		<dict/>
		<key>iMac6,1</key>
		<dict/>
		<key>MacPro1,1</key>
		<dict/>
		<key>MacPro2,1</key>
		<dict/>
		<key>Xserve1,1</key>
		<dict/>
	</dict>
</dict>
</plist>
