<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17A405001</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleYukon2</string>
	<key>CFBundleGetInfoString</key>
	<string>Apple Yukon Ethernet 4.0.0, Copyright 2016 Apple Inc., and Marvell</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iokit.AppleYukon2</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Apple-Marvell Yukon-2 Gigabit Ethernet Driver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0.0</string>
	<key>CFBundleSignature</key>
	<string>yukon2osx</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>4.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10P70r</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>10.14</string>
	<key>DTSDKBuild</key>
	<string>18F126</string>
	<key>DTSDKName</key>
	<string>macosx10.14internal</string>
	<key>DTXcode</key>
	<string>1020</string>
	<key>DTXcodeBuild</key>
	<string>10P70r</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>SK-9E21</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.AppleYukon2</string>
			<key>EnableLowPwr</key>
			<integer>1</integer>
			<key>IOClass</key>
			<string>yukon2osx</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x9E001148</string>
			<key>IOPCISecondaryMatch</key>
			<string>0x21001148</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>MACNumber</key>
			<integer>1</integer>
			<key>Model</key>
			<string>SK-9E21 10/100/1000Base-T Server Adapter</string>
			<key>NetworkNumber</key>
			<integer>1</integer>
			<key>RxDeadman</key>
			<integer>0</integer>
			<key>RxRingGrowOnPause</key>
			<integer>10</integer>
			<key>RxRingSize</key>
			<integer>0</integer>
			<key>RxRingSize_100MBit</key>
			<integer>128</integer>
			<key>RxRingSize_10MBit</key>
			<integer>64</integer>
			<key>RxRingSize_GigaBit</key>
			<integer>256</integer>
			<key>TxRingSize</key>
			<integer>256</integer>
			<key>Vendor</key>
			<string>Marvell</string>
		</dict>
		<key>SK-9E22</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.AppleYukon2</string>
			<key>EnableLowPwr</key>
			<integer>1</integer>
			<key>IOClass</key>
			<string>yukon2osx</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x9E001148</string>
			<key>IOPCISecondaryMatch</key>
			<string>0x22001148</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>MACNumber</key>
			<integer>2</integer>
			<key>Model</key>
			<string>SK-9E22 10/100/1000Base-T Dual Port Server Adapter</string>
			<key>NetworkNumber</key>
			<integer>2</integer>
			<key>RxDeadman</key>
			<integer>0</integer>
			<key>RxRingGrowOnPause</key>
			<integer>10</integer>
			<key>RxRingSize</key>
			<integer>0</integer>
			<key>RxRingSize_100MBit</key>
			<integer>128</integer>
			<key>RxRingSize_10MBit</key>
			<integer>64</integer>
			<key>RxRingSize_GigaBit</key>
			<integer>256</integer>
			<key>TxRingSize</key>
			<integer>256</integer>
			<key>Vendor</key>
			<string>Marvell</string>
		</dict>
		<key>SK-9E81</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.AppleYukon2</string>
			<key>EnableLowPwr</key>
			<integer>1</integer>
			<key>IOClass</key>
			<string>yukon2osx</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x9E001148</string>
			<key>IOPCISecondaryMatch</key>
			<string>0x81001148</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>MACNumber</key>
			<integer>1</integer>
			<key>Model</key>
			<string>SK-9E81 1000Base-SX Server Adapter</string>
			<key>NetworkNumber</key>
			<integer>1</integer>
			<key>RxDeadman</key>
			<integer>0</integer>
			<key>RxRingGrowOnPause</key>
			<integer>10</integer>
			<key>RxRingSize</key>
			<integer>0</integer>
			<key>RxRingSize_100MBit</key>
			<integer>128</integer>
			<key>RxRingSize_10MBit</key>
			<integer>64</integer>
			<key>RxRingSize_GigaBit</key>
			<integer>256</integer>
			<key>TxRingSize</key>
			<integer>256</integer>
			<key>Vendor</key>
			<string>Marvell</string>
		</dict>
		<key>SK-9E82</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.AppleYukon2</string>
			<key>EnableLowPwr</key>
			<integer>1</integer>
			<key>IOClass</key>
			<string>yukon2osx</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x9E001148</string>
			<key>IOPCISecondaryMatch</key>
			<string>0x82001148</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>MACNumber</key>
			<integer>2</integer>
			<key>Model</key>
			<string>SK-9E82 1000Base-SX Dual Port Server Adapter</string>
			<key>NetworkNumber</key>
			<integer>2</integer>
			<key>RxDeadman</key>
			<integer>0</integer>
			<key>RxRingGrowOnPause</key>
			<integer>10</integer>
			<key>RxRingSize</key>
			<integer>0</integer>
			<key>RxRingSize_100MBit</key>
			<integer>128</integer>
			<key>RxRingSize_10MBit</key>
			<integer>64</integer>
			<key>RxRingSize_GigaBit</key>
			<integer>256</integer>
			<key>TxRingSize</key>
			<integer>256</integer>
			<key>Vendor</key>
			<string>Marvell</string>
		</dict>
		<key>SK-9E91</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.AppleYukon2</string>
			<key>EnableLowPwr</key>
			<integer>1</integer>
			<key>IOClass</key>
			<string>yukon2osx</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x9E001148</string>
			<key>IOPCISecondaryMatch</key>
			<string>0x91001148</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>MACNumber</key>
			<integer>1</integer>
			<key>Model</key>
			<string>SK-9E91 1000Base-LX Server Adapter</string>
			<key>NetworkNumber</key>
			<integer>1</integer>
			<key>RxDeadman</key>
			<integer>0</integer>
			<key>RxRingGrowOnPause</key>
			<integer>10</integer>
			<key>RxRingSize</key>
			<integer>0</integer>
			<key>RxRingSize_100MBit</key>
			<integer>128</integer>
			<key>RxRingSize_10MBit</key>
			<integer>64</integer>
			<key>RxRingSize_GigaBit</key>
			<integer>256</integer>
			<key>TxRingSize</key>
			<integer>256</integer>
			<key>Vendor</key>
			<string>Marvell</string>
		</dict>
		<key>SK-9E92</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.AppleYukon2</string>
			<key>EnableLowPwr</key>
			<integer>1</integer>
			<key>IOClass</key>
			<string>yukon2osx</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x9E001148</string>
			<key>IOPCISecondaryMatch</key>
			<string>0x92001148</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>MACNumber</key>
			<integer>1</integer>
			<key>Model</key>
			<string>SK-9E92 1000Base-LX Dual Port Server Adapter</string>
			<key>NetworkNumber</key>
			<integer>1</integer>
			<key>RxDeadman</key>
			<integer>0</integer>
			<key>RxRingGrowOnPause</key>
			<integer>10</integer>
			<key>RxRingSize</key>
			<integer>0</integer>
			<key>RxRingSize_100MBit</key>
			<integer>128</integer>
			<key>RxRingSize_10MBit</key>
			<integer>64</integer>
			<key>RxRingSize_GigaBit</key>
			<integer>256</integer>
			<key>TxRingSize</key>
			<integer>256</integer>
			<key>Vendor</key>
			<string>Marvell</string>
		</dict>
		<key>SK-9S21</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.AppleYukon2</string>
			<key>EnableLowPwr</key>
			<integer>1</integer>
			<key>IOClass</key>
			<string>yukon2osx</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x90001148</string>
			<key>IOPCISecondaryMatch</key>
			<string>0x21001148</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>MACNumber</key>
			<integer>1</integer>
			<key>Model</key>
			<string>SK-9S21 10/100/1000Base-T Server Adapter</string>
			<key>NetworkNumber</key>
			<integer>1</integer>
			<key>RxDeadman</key>
			<integer>0</integer>
			<key>RxRingGrowOnPause</key>
			<integer>10</integer>
			<key>RxRingSize</key>
			<integer>0</integer>
			<key>RxRingSize_100MBit</key>
			<integer>128</integer>
			<key>RxRingSize_10MBit</key>
			<integer>64</integer>
			<key>RxRingSize_GigaBit</key>
			<integer>256</integer>
			<key>TxRingSize</key>
			<integer>256</integer>
			<key>Vendor</key>
			<string>Marvell</string>
		</dict>
		<key>SK-9S22</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.AppleYukon2</string>
			<key>EnableLowPwr</key>
			<integer>1</integer>
			<key>IOClass</key>
			<string>yukon2osx</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x90001148</string>
			<key>IOPCISecondaryMatch</key>
			<string>0x22001148</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>MACNumber</key>
			<integer>2</integer>
			<key>Model</key>
			<string>SK-9S22 10/100/1000Base-T Dual Port Server Adapter</string>
			<key>NetworkNumber</key>
			<integer>2</integer>
			<key>RxDeadman</key>
			<integer>0</integer>
			<key>RxRingGrowOnPause</key>
			<integer>10</integer>
			<key>RxRingSize</key>
			<integer>0</integer>
			<key>RxRingSize_100MBit</key>
			<integer>128</integer>
			<key>RxRingSize_10MBit</key>
			<integer>64</integer>
			<key>RxRingSize_GigaBit</key>
			<integer>256</integer>
			<key>TxRingSize</key>
			<integer>256</integer>
			<key>Vendor</key>
			<string>Marvell</string>
		</dict>
		<key>SK-9S81</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.AppleYukon2</string>
			<key>EnableLowPwr</key>
			<integer>1</integer>
			<key>IOClass</key>
			<string>yukon2osx</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x90001148</string>
			<key>IOPCISecondaryMatch</key>
			<string>0x81001148</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>MACNumber</key>
			<integer>1</integer>
			<key>Model</key>
			<string>SK-9S81 1000Base-SX Server Adapter</string>
			<key>NetworkNumber</key>
			<integer>1</integer>
			<key>RxDeadman</key>
			<integer>0</integer>
			<key>RxRingGrowOnPause</key>
			<integer>10</integer>
			<key>RxRingSize</key>
			<integer>0</integer>
			<key>RxRingSize_100MBit</key>
			<integer>128</integer>
			<key>RxRingSize_10MBit</key>
			<integer>64</integer>
			<key>RxRingSize_GigaBit</key>
			<integer>256</integer>
			<key>TxRingSize</key>
			<integer>256</integer>
			<key>Vendor</key>
			<string>Marvell</string>
		</dict>
		<key>SK-9S82</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.AppleYukon2</string>
			<key>EnableLowPwr</key>
			<integer>1</integer>
			<key>IOClass</key>
			<string>yukon2osx</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x90001148</string>
			<key>IOPCISecondaryMatch</key>
			<string>0x82001148</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>MACNumber</key>
			<integer>2</integer>
			<key>Model</key>
			<string>SK-9S82 1000Base-SX Dual Port Server Adapter</string>
			<key>NetworkNumber</key>
			<integer>2</integer>
			<key>RxDeadman</key>
			<integer>0</integer>
			<key>RxRingGrowOnPause</key>
			<integer>10</integer>
			<key>RxRingSize</key>
			<integer>0</integer>
			<key>RxRingSize_100MBit</key>
			<integer>128</integer>
			<key>RxRingSize_10MBit</key>
			<integer>64</integer>
			<key>RxRingSize_GigaBit</key>
			<integer>256</integer>
			<key>TxRingSize</key>
			<integer>256</integer>
			<key>Vendor</key>
			<string>Marvell</string>
		</dict>
		<key>SK-9S91</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.AppleYukon2</string>
			<key>EnableLowPwr</key>
			<integer>1</integer>
			<key>IOClass</key>
			<string>yukon2osx</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x90001148</string>
			<key>IOPCISecondaryMatch</key>
			<string>0x91001148</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>MACNumber</key>
			<integer>1</integer>
			<key>Model</key>
			<string>SK-9S91 1000Base-LX Server Adapter</string>
			<key>NetworkNumber</key>
			<integer>1</integer>
			<key>RxDeadman</key>
			<integer>0</integer>
			<key>RxRingGrowOnPause</key>
			<integer>10</integer>
			<key>RxRingSize</key>
			<integer>0</integer>
			<key>RxRingSize_100MBit</key>
			<integer>128</integer>
			<key>RxRingSize_10MBit</key>
			<integer>64</integer>
			<key>RxRingSize_GigaBit</key>
			<integer>256</integer>
			<key>TxRingSize</key>
			<integer>256</integer>
			<key>Vendor</key>
			<string>Marvell</string>
		</dict>
		<key>SK-9S92</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.AppleYukon2</string>
			<key>EnableLowPwr</key>
			<integer>1</integer>
			<key>IOClass</key>
			<string>yukon2osx</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x90001148</string>
			<key>IOPCISecondaryMatch</key>
			<string>0x92001148</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>MACNumber</key>
			<integer>2</integer>
			<key>Model</key>
			<string>SK-9S92 1000Base-LX Dual Port Server Adapter</string>
			<key>NetworkNumber</key>
			<integer>2</integer>
			<key>RxDeadman</key>
			<integer>0</integer>
			<key>RxRingGrowOnPause</key>
			<integer>10</integer>
			<key>RxRingSize</key>
			<integer>0</integer>
			<key>RxRingSize_100MBit</key>
			<integer>128</integer>
			<key>RxRingSize_10MBit</key>
			<integer>64</integer>
			<key>RxRingSize_GigaBit</key>
			<integer>256</integer>
			<key>TxRingSize</key>
			<integer>256</integer>
			<key>Vendor</key>
			<string>Marvell</string>
		</dict>
		<key>Yukon-88E804A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.AppleYukon2</string>
			<key>EnableLowPwr</key>
			<integer>1</integer>
			<key>IOClass</key>
			<string>yukon2osx</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x436511ab</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>MACNumber</key>
			<integer>1</integer>
			<key>Model</key>
			<string>Yukon Gigabit Adapter 88E804A Singleport Copper SA</string>
			<key>NetworkNumber</key>
			<integer>1</integer>
			<key>RxDeadman</key>
			<integer>0</integer>
			<key>RxRingGrowOnPause</key>
			<integer>10</integer>
			<key>RxRingSize</key>
			<integer>0</integer>
			<key>RxRingSize_100MBit</key>
			<integer>128</integer>
			<key>RxRingSize_10MBit</key>
			<integer>64</integer>
			<key>RxRingSize_GigaBit</key>
			<integer>256</integer>
			<key>TxRingSize</key>
			<integer>256</integer>
			<key>Vendor</key>
			<string>Marvell</string>
		</dict>
		<key>Yukon-88E804X</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.AppleYukon2</string>
			<key>EnableLowPwr</key>
			<integer>1</integer>
			<key>IOClass</key>
			<string>yukon2osx</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x436011ab</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>MACNumber</key>
			<integer>1</integer>
			<key>Model</key>
			<string>Yukon Gigabit Adapter 88E804X Singleport Copper SA</string>
			<key>NetworkNumber</key>
			<integer>1</integer>
			<key>RxDeadman</key>
			<integer>0</integer>
			<key>RxRingGrowOnPause</key>
			<integer>10</integer>
			<key>RxRingSize</key>
			<integer>0</integer>
			<key>RxRingSize_100MBit</key>
			<integer>128</integer>
			<key>RxRingSize_10MBit</key>
			<integer>64</integer>
			<key>RxRingSize_GigaBit</key>
			<integer>256</integer>
			<key>TxRingSize</key>
			<integer>256</integer>
			<key>Vendor</key>
			<string>Marvell</string>
		</dict>
		<key>Yukon-88E804Y</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.AppleYukon2</string>
			<key>EnableLowPwr</key>
			<integer>1</integer>
			<key>IOClass</key>
			<string>yukon2osx</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x435A11ab</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>MACNumber</key>
			<integer>1</integer>
			<key>Model</key>
			<string>Yukon Gigabit Adapter 88E804Y Singleport Copper SA</string>
			<key>NetworkNumber</key>
			<integer>1</integer>
			<key>RxDeadman</key>
			<integer>0</integer>
			<key>RxRingGrowOnPause</key>
			<integer>10</integer>
			<key>RxRingSize</key>
			<integer>0</integer>
			<key>RxRingSize_100MBit</key>
			<integer>128</integer>
			<key>RxRingSize_10MBit</key>
			<integer>64</integer>
			<key>RxRingSize_GigaBit</key>
			<integer>256</integer>
			<key>TxRingSize</key>
			<integer>256</integer>
			<key>Vendor</key>
			<string>Marvell</string>
		</dict>
		<key>Yukon-88E804Z</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.AppleYukon2</string>
			<key>EnableLowPwr</key>
			<integer>1</integer>
			<key>IOClass</key>
			<string>yukon2osx</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x435411ab</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>MACNumber</key>
			<integer>1</integer>
			<key>Model</key>
			<string>Yukon Gigabit Adapter 88E804Z Singleport Copper SA</string>
			<key>NetworkNumber</key>
			<integer>1</integer>
			<key>RxDeadman</key>
			<integer>0</integer>
			<key>RxRingGrowOnPause</key>
			<integer>10</integer>
			<key>RxRingSize</key>
			<integer>0</integer>
			<key>RxRingSize_100MBit</key>
			<integer>128</integer>
			<key>RxRingSize_10MBit</key>
			<integer>64</integer>
			<key>RxRingSize_GigaBit</key>
			<integer>256</integer>
			<key>TxRingSize</key>
			<integer>256</integer>
			<key>Vendor</key>
			<string>Marvell</string>
		</dict>
		<key>Yukon-88E8053</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.AppleYukon2</string>
			<key>EnableLowPwr</key>
			<integer>1</integer>
			<key>IOClass</key>
			<string>yukon2osx</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x436211ab</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>MACNumber</key>
			<integer>1</integer>
			<key>Model</key>
			<string>Yukon Gigabit Adapter 88E8053 Singleport Copper SA</string>
			<key>NetworkNumber</key>
			<integer>1</integer>
			<key>RxDeadman</key>
			<integer>0</integer>
			<key>RxRingGrowOnPause</key>
			<integer>10</integer>
			<key>RxRingSize</key>
			<integer>0</integer>
			<key>RxRingSize_100MBit</key>
			<integer>128</integer>
			<key>RxRingSize_10MBit</key>
			<integer>64</integer>
			<key>RxRingSize_GigaBit</key>
			<integer>256</integer>
			<key>TxRingSize</key>
			<integer>256</integer>
			<key>Vendor</key>
			<string>Marvell</string>
		</dict>
		<key>Yukon-88E8055</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.AppleYukon2</string>
			<key>EnableLowPwr</key>
			<integer>1</integer>
			<key>IOClass</key>
			<string>yukon2osx</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x436311ab</string>
			<key>IOPCISecondaryMatch</key>
			<string>0x00ba11ab</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>MACNumber</key>
			<integer>1</integer>
			<key>Model</key>
			<string>Yukon Gigabit Adapter 88E8055 Singleport Copper SA</string>
			<key>NetworkNumber</key>
			<integer>1</integer>
			<key>RxDeadman</key>
			<integer>0</integer>
			<key>RxRingGrowOnPause</key>
			<integer>10</integer>
			<key>RxRingSize</key>
			<integer>0</integer>
			<key>RxRingSize_100MBit</key>
			<integer>128</integer>
			<key>RxRingSize_10MBit</key>
			<integer>64</integer>
			<key>RxRingSize_GigaBit</key>
			<integer>256</integer>
			<key>TxRingSize</key>
			<integer>256</integer>
			<key>Vendor</key>
			<string>Marvell</string>
		</dict>
		<key>Yukon-88E8055-B0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.AppleYukon2</string>
			<key>EnableLowPwr</key>
			<integer>1</integer>
			<key>IOClass</key>
			<string>yukon2osx</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x436a11ab</string>
			<key>IOPCISecondaryMatch</key>
			<string>0x00ba11ab</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>InitialWaitForLinkUp</key>
			<integer>6000</integer>
			<key>MACNumber</key>
			<integer>1</integer>
			<key>Model</key>
			<string>Yukon Gigabit Adapter 88E8055 Singleport Copper SA</string>
			<key>NetworkNumber</key>
			<integer>1</integer>
			<key>RxDeadman</key>
			<integer>0</integer>
			<key>RxRingGrowOnPause</key>
			<integer>10</integer>
			<key>RxRingSize</key>
			<integer>0</integer>
			<key>RxRingSize_100MBit</key>
			<integer>128</integer>
			<key>RxRingSize_10MBit</key>
			<integer>64</integer>
			<key>RxRingSize_GigaBit</key>
			<integer>256</integer>
			<key>TxRingSize</key>
			<integer>256</integer>
			<key>Vendor</key>
			<string>Marvell</string>
			<key>WaitForLinkUp</key>
			<integer>6000</integer>
		</dict>
		<key>Yukon-88E8061</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.AppleYukon2</string>
			<key>EnableLowPwr</key>
			<integer>1</integer>
			<key>IOClass</key>
			<string>yukon2osx</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x9e001148</string>
			<key>IOPCISecondaryMatch</key>
			<string>0x22001148</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>MACNumber</key>
			<integer>1</integer>
			<key>Model</key>
			<string>Yukon Gigabit Adapter 88E8061 Singleport Copper SA</string>
			<key>NetworkNumber</key>
			<integer>1</integer>
			<key>RxDeadman</key>
			<integer>0</integer>
			<key>RxRingGrowOnPause</key>
			<integer>10</integer>
			<key>RxRingSize</key>
			<integer>0</integer>
			<key>RxRingSize_100MBit</key>
			<integer>128</integer>
			<key>RxRingSize_10MBit</key>
			<integer>64</integer>
			<key>RxRingSize_GigaBit</key>
			<integer>256</integer>
			<key>TxRingSize</key>
			<integer>256</integer>
			<key>Vendor</key>
			<string>Marvell</string>
		</dict>
		<key>Yukon-88E8062</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.AppleYukon2</string>
			<key>EnableLowPwr</key>
			<integer>1</integer>
			<key>IOClass</key>
			<string>yukon2osx</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x9e001148</string>
			<key>IOPCISecondaryMatch</key>
			<string>0x22001148</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>MACNumber</key>
			<integer>2</integer>
			<key>Model</key>
			<string>Yukon Gigabit Adapter 88E8061 Dualport Copper SA</string>
			<key>NetworkNumber</key>
			<integer>2</integer>
			<key>RxDeadman</key>
			<integer>0</integer>
			<key>RxRingGrowOnPause</key>
			<integer>10</integer>
			<key>RxRingSize</key>
			<integer>0</integer>
			<key>RxRingSize_100MBit</key>
			<integer>128</integer>
			<key>RxRingSize_10MBit</key>
			<integer>64</integer>
			<key>RxRingSize_GigaBit</key>
			<integer>256</integer>
			<key>TxRingSize</key>
			<integer>256</integer>
			<key>Vendor</key>
			<string>Marvell</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.14</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2002-2016 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0b1</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b1</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b1</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0b1</string>
		<key>com.apple.kpi.private</key>
		<string>13.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
