<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildAliasOf</key>
	<string>AppleYukon2</string>
	<key>BuildVersion</key>
	<string>15941</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0.0</string>
	<key>CFBundleVersion</key>
	<string>4.0.0</string>
	<key>ProjectName</key>
	<string>AppleYukon2</string>
	<key>SourceVersion</key>
	<string>3206000000000000</string>
</dict>
</plist>
