<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacBook5,1</key>
	<dict>
		<key>usbohci</key>
		<true/>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyPlatform</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
		<key>legacyiSight</key>
		<true/>
		<key>needsAPFSPatch</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
		<key>legacyEnet</key>
		<true/>
		<key>hidStall</key>
		<true/>
	</dict>
	<key>MacBook5,2</key>
	<dict>
		<key>usbohci</key>
		<true/>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyPlatform</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
		<key>legacyiSight</key>
		<true/>
		<key>needsAPFSPatch</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
		<key>legacyEnet</key>
		<true/>
		<key>hidStall</key>
		<true/>
	</dict>
	<key>MacBook6,1</key>
	<dict>
		<key>usbohci</key>
		<true/>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyPlatform</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
		<key>legacyiSight</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
		<key>legacyEnet</key>
		<true/>
		<key>hidStall</key>
		<true/>
	</dict>
	<key>MacBook7,1</key>
	<dict>
		<key>usbohci</key>
		<true/>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyPlatform</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
		<key>legacyiSight</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
		<key>legacyEnet</key>
		<true/>
		<key>hidStall</key>
		<true/>
	</dict>
	<key>MacBookAir2,1</key>
	<dict>
		<key>usbohci</key>
		<true/>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyPlatform</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
		<key>legacyiSight</key>
		<true/>
		<key>needsAPFSPatch</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
		<key>bcm94321Patch</key>
		<true/>
		<key>legacyEnet</key>
		<true/>
		<key>hidStall</key>
		<true/>
	</dict>
	<key>MacBookAir3,1</key>
	<dict>
		<key>usbohci</key>
		<true/>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyPlatform</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
		<key>legacyiSight</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
		<key>legacyEnet</key>
		<true/>
		<key>hidStall</key>
		<true/>
	</dict>
	<key>MacBookAir3,2</key>
	<dict>
		<key>usbohci</key>
		<true/>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyPlatform</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
		<key>legacyiSight</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
		<key>legacyEnet</key>
		<true/>
		<key>hidStall</key>
		<true/>
	</dict>
	<key>MacBookAir4,1</key>
	<dict>
		<key>legacyGPU</key>
		<true/>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
	</dict>
	<key>MacBookAir4,2</key>
	<dict>
		<key>legacyGPU</key>
		<true/>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
	</dict>
	<key>MacBookPro4,1</key>
	<dict>
		<key>usbohci</key>
		<true/>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyPlatform</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
		<key>legacyiSight</key>
		<true/>
		<key>needsAPFSPatch</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
		<key>bcm94321Patch</key>
		<true/>
		<key>hidStall</key>
		<true/>
		<key>legacyEnet</key>
		<true/>
		<key>legacyIDE</key>
		<true/>
	</dict>
	<key>MacBookPro5,1</key>
	<dict>
		<key>usbohci</key>
		<true/>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyPlatform</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
		<key>legacyiSight</key>
		<true/>
		<key>needsAPFSPatch</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
		<key>legacyEnet</key>
		<true/>
		<key>hidStall</key>
		<true/>
	</dict>
	<key>MacBookPro5,2</key>
	<dict>
		<key>usbohci</key>
		<true/>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyPlatform</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
		<key>legacyiSight</key>
		<true/>
		<key>needsAPFSPatch</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
		<key>legacyEnet</key>
		<true/>
		<key>hidStall</key>
		<true/>
	</dict>
	<key>MacBookPro5,3</key>
	<dict>
		<key>usbohci</key>
		<true/>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyPlatform</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
		<key>legacyiSight</key>
		<true/>
		<key>needsAPFSPatch</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
		<key>legacyEnet</key>
		<true/>
		<key>hidStall</key>
		<true/>
	</dict>
	<key>MacBookPro5,4</key>
	<dict>
		<key>usbohci</key>
		<true/>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyPlatform</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
		<key>legacyiSight</key>
		<true/>
		<key>needsAPFSPatch</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
		<key>legacyEnet</key>
		<true/>
		<key>hidStall</key>
		<true/>
	</dict>
	<key>MacBookPro5,5</key>
	<dict>
		<key>usbohci</key>
		<true/>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyPlatform</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
		<key>legacyiSight</key>
		<true/>
		<key>needsAPFSPatch</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
		<key>legacyEnet</key>
		<true/>
		<key>hidStall</key>
		<true/>
	</dict>
	<key>MacBookPro6,1</key>
	<dict>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
	</dict>
	<key>MacBookPro6,2</key>
	<dict>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
	</dict>
	<key>MacBookPro7,1</key>
	<dict>
		<key>usbohci</key>
		<true/>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyPlatform</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
		<key>legacyiSight</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
		<key>legacyEnet</key>
		<true/>
		<key>hidStall</key>
		<true/>
	</dict>
	<key>MacBookPro8,1</key>
	<dict>
		<key>legacyGPU</key>
		<true/>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
	</dict>
	<key>MacBookPro8,2</key>
	<dict>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
	</dict>
	<key>MacBookPro8,3</key>
	<dict>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
	</dict>
	<key>MacPro3,1</key>
	<dict>
		<key>usbohci</key>
		<true/>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyPlatform</key>
		<true/>
		<key>needsAPFSPatch</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
		<key>bcm94321Patch</key>
		<true/>
		<key>legacyiSight</key>
		<true/>
		<key>amdSSE4</key>
		<true/>
		<key>hidStall</key>
		<true/>
		<key>legacyIDE</key>
		<true/>
	</dict>
	<key>MacPro4,1</key>
	<dict>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>needsAPFSPatch</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
	</dict>
	<key>MacPro5,1</key>
	<dict>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
	</dict>
	<key>iMac7,1</key>
	<dict>
		<key>usbohci</key>
		<true/>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyPlatform</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
		<key>legacyiSight</key>
		<true/>
		<key>needsAPFSPatch</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
		<key>bcm94321Patch</key>
		<true/>
		<key>hidStall</key>
		<true/>
		<key>legacyEnet</key>
		<true/>
		<key>legacyIDE</key>
		<true/>
		<key>volControlPatch</key>
		<true/>
	</dict>
	<key>iMac8,1</key>
	<dict>
		<key>usbohci</key>
		<true/>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyPlatform</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
		<key>legacyiSight</key>
		<true/>
		<key>needsAPFSPatch</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
		<key>bcm94321Patch</key>
		<true/>
		<key>hidStall</key>
		<true/>
		<key>legacyEnet</key>
		<true/>
		<key>legacyIDE</key>
		<true/>
		<key>volControlPatch</key>
		<true/>
	</dict>
	<key>iMac9,1</key>
	<dict>
		<key>usbohci</key>
		<true/>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyPlatform</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
		<key>legacyiSight</key>
		<true/>
		<key>needsAPFSPatch</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
		<key>legacyEnet</key>
		<true/>
		<key>hidStall</key>
		<true/>
	</dict>
	<key>iMac10,1</key>
	<dict>
		<key>usbohci</key>
		<true/>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyPlatform</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
		<key>legacyEnet</key>
		<true/>
		<key>hidStall</key>
		<true/>
	</dict>
	<key>iMac11,1</key>
	<dict>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
	</dict>
	<key>iMac11,2</key>
	<dict>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
	</dict>
	<key>iMac11,3</key>
	<dict>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
	</dict>
	<key>iMac12,1</key>
	<dict>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
	</dict>
	<key>iMac12,2</key>
	<dict>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
	</dict>
	<key>Macmini3,1</key>
	<dict>
		<key>usbohci</key>
		<true/>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyPlatform</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
		<key>needsAPFSPatch</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
		<key>bcm94321Patch</key>
		<true/>
		<key>legacyiSight</key>
		<true/>
		<key>legacyEnet</key>
		<true/>
		<key>hidStall</key>
		<true/>
	</dict>
	<key>Macmini4,1</key>
	<dict>
		<key>usbohci</key>
		<true/>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyPlatform</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
		<key>legacyEnet</key>
		<true/>
		<key>hidStall</key>
		<true/>
	</dict>
	<key>Macmini5,1</key>
	<dict>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
	</dict>
	<key>Macmini5,2</key>
	<dict>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
	</dict>
	<key>Macmini5,3</key>
	<dict>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>legacyAudio</key>
		<true/>
		<key>legacyGPU</key>
		<true/>
		<key>legacyWifi</key>
		<true/>
	</dict>
	<key>Xserve2,1</key>
	<dict>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>usbohci</key>
		<true/>
		<key>legacyPlatform</key>
		<true/>
		<key>needsAPFSPatch</key>
		<true/>
		<key>hidStall</key>
		<true/>
		<key>legacyIDE</key>
		<true/>
	</dict>
	<key>Xserve3,1</key>
	<dict>
		<key>legacyusb</key>
		<true/>
		<key>sipPatch</key>
		<true/>
		<key>needsAPFSPatch</key>
		<true/>
	</dict>
</dict>
</plist>
