<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>APFS Boot Selector.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>APFSFirmwareVerification.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Patch Updater Prefpane.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Patch Updater.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>apfsbless.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>apfshelperd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>apfsinsta.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>macOS Catalina Patcher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>macOS Post Install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>patcherd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>patchupdaterd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>runposti.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>870D355222B1C12700432A8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>870D357322B1C12800432A8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>873AF53722C052FE006A9A86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8747906322E93C97006785C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>875A7B1822EA0BEE009973DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>875A7B2B22EA0DE6009973DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8766401622C87F3C0004E8F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87759D7722BD3C31009F9834</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87759D9122BD3C31009F9834</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>879185E622B5A1AD004A6E35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>879185FC22B5FE65004A6E35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8791861622B5FE66004A6E35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87A3F07522B437E900121384</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87A3F08222B438CF00121384</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87A3F0A822B4396E00121384</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87A3F0B522B43AB300121384</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87A3F0C222B43ACF00121384</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87AADBA922D045B2007AB927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87AADBC322D045B2007AB927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87AADBF622D0478B007AB927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87AADC2422D04E8D007AB927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87B545982448DE74008C608D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87B545B22448DE74008C608D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87D5303A22C32CCA00EDCDD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87F680C022FCFE9700D96B21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87F680DF22FCFFBF00D96B21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
