<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16B2657</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>IONDRVSupport</string>
	<key>CFBundleGetInfoString</key>
	<string>519.15, Copyright 2000-2017 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iokit.IONDRVSupport</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>I/O Kit NDRV Support</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>519.15</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>519.15</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9P107g</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17E183</string>
	<key>DTSDKName</key>
	<string>macosx10.13internal</string>
	<key>DTXcode</key>
	<string>0930</string>
	<key>DTXcodeBuild</key>
	<string>9P107g</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IONDRVSupport</string>
			<key>IOClass</key>
			<string>IONDRVFramebuffer</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatch</key>
			<string>display</string>
			<key>IOProbeScore</key>
			<integer>20000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IONDRVSupport</string>
			<key>IOClass</key>
			<string>IONDRVFramebuffer</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatch</key>
			<string>display</string>
			<key>IOProbeScore</key>
			<integer>20000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
		</dict>
		<key>3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IONDRVSupport</string>
			<key>IOClass</key>
			<string>IONDRVFramebuffer</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOProbeScore</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0b1</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>1.1</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.1</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
